@import url(/blocks/header/__link/header__link.css);
@import url(/blocks/header/__logo/logo.css);
@import url(/blocks/header/__logo/logo_place_header.css);
@import url(/blocks/header/__main-illustration/header__main-illustration.css);
@import url(/blocks/header/__square-pic/header__square-pic.css);
@import url(/blocks/header/__subtitle/header__subtitle.css);
@import url(/blocks/header/__title/header__title.css);
@import url(/blocks/rotation/rotate.css);

.header {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    overflow: hidden;
  }