@import url(/blocks/footer/__author/footer__author.css);
@import url(/blocks/footer/__column-heading/footer__column-heading.css);
@import url(/blocks/footer/__column-link/footer__column-link.css);
@import url(/blocks/footer/__column-links/footer__column-links.css);
@import url(/blocks/footer/__column/footer__column.css);
@import url(/blocks/footer/__columns/footer__columns.css);
@import url(/blocks/footer/__social-icon/footer__social-icon.css);
@import url(/blocks/footer/__logo/logo.css);
@import url(/blocks/footer/__logo/logo_place_footer.css);

.footer {
    display:flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 40px;
    min-height: 350px;
    background-color: #1f1f1f;
  }